# Data module class 2
Reading documentation: Pandas and BeautifulSoup

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [13]:
# download and import BeautifulSoup if you need to
# !pip install beautifulsoup4

## Pandas
### Terminology reference
#### Data structures
##### 1-dimensional data (create Series)

|pandas abbreviation|definition|example|
|---|---|---|
|dict|Python dictionary|`{'a': 'value', 'b': 'value'}`|
|ndarray|N-dimensional array (can be 1 or 2 dimensional)|`[0, 1, 2, 3]`|
|scalar|Single value|`100`|
|list|Python list|`[0, 1, 2, 3]`|

##### 2-dimensional data (create DataFrames)

|pandas term|example|
|---|---|
|ndarray|`[[0, 1, 2, 3], [4, 5, 6, 7]]`|
|dict of ndarrays|`{'one': [1, 2, 3, 4], 'two': [4, 3, 2, 1]}`|
|list of dicts|`[{'id': 1, 'info': 'text'}, {'id': 2, 'info': 'more text'}]`|

#### How do these look when loaded in pandas?
[Taken from the Pandas User Guide](https://pandas.pydata.org/docs/user_guide/dsintro.html)

In [2]:
pd.Series({'a': 'value', 'b': 'value'})

a    value
b    value
dtype: object

In [4]:
pd.Series([0, 1, 2, 3])

0    0
1    1
2    2
3    3
dtype: int64

In [5]:
pd.Series(5)

0    5
dtype: int64

In [6]:
pd.DataFrame([{'id': 1, 'info': 'text'}, {'id': 2, 'info': 'more text'}])

   id       info
0   1       text
1   2  more text

#### Other terms
[See pd.to_datetime() as an example](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html#pandas.to_datetime)

#### parameters: Information that a function accepts 
- args
    - Arguments that are required (or things that the function needs in order to run)
    - i.e. data for your DataFrame
- kwargs (even though Pandas does not identify them as such)
    - Keyword arguments: optional arguments not necessary for a function to run, but will tell the function to behave in a different way than the default. Called "keyword" arguments because you have to identify the name of the variable
    - i.e. errors='raise'

### 1. Let's practice input/output with Pandas with the following links.
Use Panda's [IO Tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) section of their documentation to grab these datasets

- [Avengers Wikia data - FiveThirtyEight](https://raw.githubusercontent.com/fivethirtyeight/data/master/comic-characters/marvel-wikia-data.csv) | [Documentation here](https://github.com/fivethirtyeight/data/tree/master/avengers)
- [List of sovereign states - Wikipedia](https://en.wikipedia.org/wiki/List_of_sovereign_states)
- [Homeless housing - LA Times](https://raw.githubusercontent.com/kyleykim/R_Scripts/master/la-me-ln-hhh-unequal/revised_data/master_data_geocoded.csv) | [Documentation](https://github.com/kyleykim/R_Scripts/tree/master/la-me-ln-hhh-unequal)

In [4]:
df_av = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/comic-characters/marvel-wikia-data.csv')

In [5]:
df_countries = pd.read_html('https://en.wikipedia.org/wiki/List_of_sovereign_states')

In [62]:
#!pip install lxml

Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.6.3)

In [2]:
df_home = pd.read_csv('https://raw.githubusercontent.com/kyleykim/R_Scripts/master/la-me-ln-hhh-unequal/revised_data/master_data_geocoded.csv')

In [6]:
df_av.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [14]:
df_countries = df_countries[0]
df_countries.head()

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
0,NaN,NaN,NaN,NaN
1,UN member states and observer states ↓,NaN,NaN,NaN
2,Abkhazia → See Abkhazia listing,Abkhazia → See Abkhazia listing,Abkhazia → See Abkhazia listing,Abkhazia → See Abkhazia listing
3,Afghanistan – Islamic Republic of Afghanistan,UN member state,NaN,NaN
4,Albania – Republic of Albania,NaN,NaN,NaN

In [16]:
df_home.head()

,project_name,address,district_no,units,sh_units,status,lon,lat,geoAddress
0,Reseda Theater Senior Housing (Canby Woods West),7221 N CANBY AVE CA 91335,3,26,13,Already approved,-118.535105,34.201798,"7221 canby ave, reseda, ca 91335, usa"
1,Main Street Apartments,5501 S MAIN ST CA 90037,9,57,56,Already approved,-118.274276,33.992203,"5501 s main st, los angeles, ca 90037, usa"
2,Berendo Sage,1035 S BERENDO ST CA 90006,1,42,21,Already approved,-118.294014,34.051678,"1035 s berendo st, los angeles, ca 90006, usa"
3,South Main Street Apartments,12003 S MAIN ST CA 90061,15,62,61,Already approved,-118.274250,33.923439,"12003 s main st, los angeles, ca 90061, usa"
4,Montecito II Senior Housing,6668 W FRANKLIN AVE HOLLYWOOD CA 90028,13,64,32,Already approved,-118.335282,34.105027,"6668 franklin ave, los angeles, ca 90028, usa"

### 2. Let's practice working with missing data and selecting these values
#### For each DataFrame, either select all the missing values of one column or select a unique categorical value.
The [Indexing and selecting data¶](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) section of Pandas documentation will help

#### a. Avengers

In [9]:
df_av['ALIVE'].unique()

array(['Living Characters', 'Deceased Characters', nan], dtype=object)

#### b. Countries

In [15]:
df_countries[df_countries['Sovereignty dispute[b]'].isna()]

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
0,NaN,NaN,NaN,NaN
1,UN member states and observer states ↓,NaN,NaN,NaN
3,Afghanistan – Islamic Republic of Afghanistan,UN member state,NaN,NaN
4,Albania – Republic of Albania,NaN,NaN,NaN
5,Algeria – People's Democratic Republic of Algeria,NaN,NaN,NaN
...,...,...,...,...
226,UN member states and observer states ↑,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN

#### c. LA homeless housing

In [64]:
df_home[df_home['status'].isna()]

Empty DataFrame
Columns: [project_name, address, district_no, units, sh_units, status, lon, lat, geoAddress]
Index: []

### 3. Let's practice cleaning with intent

#### Use each the three datasets loaded in to generate a question you want to answer with the data
##### Tips
- Show the column list the column types and null values
- Find unique values to look at categorical data

#### a. Avengers
##### Question
- What is the relation between public/private identity and being alive?

##### What steps do I need to do to answer the question?
- Group by ID
- Count instances of being alive vs. dead
-

In [42]:
# show the dataframe info here to get you started 
df_avengers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           16376 non-null  int64
 1   name              16376 non-null  object
 2   urlslug           16376 non-null  object
 3   ID                12606 non-null  object
 4   ALIGN             13564 non-null  object
 5   EYE               6609 non-null   object
 6   HAIR              12112 non-null  object
 7   SEX               15522 non-null  object
 8   GSM               90 non-null     object
 9   ALIVE             16373 non-null  object
 10  APPEARANCES       15280 non-null  float64
 11  FIRST APPEARANCE  15561 non-null  object
 12  Year              15561 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.6+ MB

In [30]:
df_av.groupby('ID')['ALIVE'].value_counts()

ID                             ALIVE
Known to Authorities Identity  Living Characters        14
                               Deceased Characters       1
No Dual Identity               Living Characters      1345
                               Deceased Characters     443
Public Identity                Living Characters      3484
                               Deceased Characters    1044
Secret Identity                Living Characters      4647
                               Deceased Characters    1628
Name: ALIVE, dtype: int64

#### b. Countries
##### Question
- How many UN member states are there

##### What cleaning do I need to do to answer the question
- Count UN Member states
- Account for NaN values
-

In [16]:
df_countries[df_countries['Membership within the UN System[a]'] == 'UN member state']

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
3,Afghanistan – Islamic Republic of Afghanistan,UN member state,NaN,NaN

#### c. LA homeless housing
##### Question
- Which project has the most approved status?

##### What cleaning do I need to do to answer the question
- group by project
- count approved status
-

In [32]:
df_home.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   project_name  79 non-null     object
 1   address       79 non-null     object
 2   district_no   79 non-null     int64
 3   units         79 non-null     int64
 4   sh_units      79 non-null     int64
 5   status        79 non-null     object
 6   lon           79 non-null     float64
 7   lat           79 non-null     float64
 8   geoAddress    79 non-null     object
dtypes: float64(2), int64(3), object(4)
memory usage: 5.7+ KB

In [46]:
df_status = pd.DataFrame(df_home.groupby('project_name')['status'].value_counts())

In [58]:
df_status.columns = ['count']
df_status.reset_index()

                      project_name                         status  count
0          11408 S. Central Avenue  Pending City Council approval      1
1          1141-1145 Crenshaw Blvd               Already approved      1
2           410 E. Florence Avenue  Pending City Council approval      1
3           433 Vermont Apartments               Already approved      1
4                   4719 Normandie  Pending City Council approval      1
..                             ...                            ...    ...
74     Weingart Tower (HHH PSH 1A)               Already approved      1
75       Weingart Tower 1B HHH PSH  Pending City Council approval      1
76  Weingart Tower II (HHH PSH 1A)               Already approved      1
77           West Third Apartments               Already approved      1
78       Western Avenue Apartments               Already approved      1

[79 rows x 3 columns]

In [60]:
df_status.sort_values(by='count', ascending=False)

                                                           count
project_name                status
11408 S. Central Avenue     Pending City Council approval      1
PATH Villas Hollywood       Already approved                   1
SP7 Apartments              Already approved                   1
Rose Apartments             Already approved                   1
Rosa De Castilla Apartments Already approved                   1
...                                                          ...
Colorado East               Pending City Council approval      1
Casa del Sol                Already approved                   1
Casa de Rosas Campus        Already approved                   1
Building 208                Already approved                   1
Western Avenue Apartments   Already approved                   1

[79 rows x 1 columns]

Take a look at the [LA Times'](https://github.com/datadesk/notebooks) or [FiveThirtyEight's](https://github.com/fivethirtyeight/data) for more practice

## BeautifulSoup
[BeautifulSoup documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

In [72]:
# load in the HTML and format for BS
sp_wiki_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

In [1]:
# find the title tag

In [3]:
# grab the first a tag

In [4]:
# finds all a tags

In [5]:
# find all elements with the class "mw-jump-link"

#### Format the first table of the list of S&P 500 companies wiki page as a dataframe

[Traversing the DOM - W3C](https://www.w3.org/wiki/Traversing_the_DOM)

In [6]:
# find where the data you want resides (a tag, class name, etc)

### We can do more cleaning here